{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<br><br>
<div id="exprencies" class="bg-light">
    <div class="pt-2 px-5 text-center container shadow-lg my-5 bg-white pb-5">
        <h2 class="font-weight-bolder mt-4"><i class="fa fa-trophy"></i>&nbsp;Experiences</h2>
        <hr class="mb-3">
        <div class="row">
            <div class="col-lg-12">
                <ul id="education" class="clearfix text-left pb-4">
                    <li>
                        <div class="year pull-left"><small class="form-text text-muted">2011<br></small></div>
                        <div class="description pull-right">
                            <h4 class="font-weight-bold">CV. Ace Computindo Computer</h4>
                            <p><strong>Tecnician Computer </strong>&nbsp;| &nbsp;Tangerang, Indonesia<br>Maintenance computer, laptop, and networking.</p>
                        </div>
                    </li>
                    <li>
                        <div class="year pull-left"><small class="form-text text-muted">2012</small></div>
                        <div class="description pull-right">
                            <img src="{% static 'img/hasiu.png' %}" class="pr-2 py-2" width="100px">
                            <h4 class="font-weight-bold">PT. Halim Samudra Interutama</h4>
                            <p><strong>IT Support and HRD&nbsp;</strong>&nbsp;| &nbsp;Tangerang, Indonesia<br>- Make a report of attendance, employee administration. <br>- Perform ISO 9001: 2015 quality management procedures, and participate in internal
                                auditors. <br>- Documenting, installing, repairing computers, local networks. <br>- Develop, improve the STOCK application (with FOXPRO DOS language). <br>- Creating an ISO Management System web application, Company
                                Profile, Color, Budget, etc. (in PHP).<br></p>
                        </div>
                    </li>
                    <li>
                        <div class="year pull-left"><small class="form-text text-muted">2019</small></div>
                        <div class="description pull-right">
                            <img src="{% static 'img/sosaro.png' %}" class="pr-2 py-2" width="100px">
                            <h4 class="font-weight-bold">Sosaro Coorporate</h4>
                            <p><strong>Medior Software Engineer&nbsp;</strong>&nbsp;| &nbsp;Jakarta Barat, Indonesia
                            <br>- Creating a python web backend with Framework Flask and Django. 
                            <br>- Make microservice with Flask. <br>- And frontend with html bootstrap.<br></p>
                                
                        
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}