{% extends "frontend/base.html" %}
{% load static %}
{% block title %} Pesan dari {{ name }} {% endblock title %}
{% block content %}
<br><br>
<div class="bg-light">
  <div class="pt-2 px-5 text-center container shadow-lg my-5 bg-white pb-5">
    <h2 class="font-weight-bolder mt-4"><i class="fa fa-envelope"></i>&nbsp;Result Send Message</h2>
    <hr class="mb-3">
    <div class="row">
      <div class="col-lg-12 text-left">
        <textarea readonly rows="5" class="form-control">&quot;{{message}}&quot;-
        {{name}}
        by {{ email }}
        </textarea>
        <br>
         <a href="{% static '../' %}tutorial4/" class="btn btn-light action-button"><i class="fa fa-arrow-left"></i> Back &nbsp;</a>
         <a href="{% static '../' %}tutorial4/table" class="btn btn-light action-button"><i class="fa fa-eye"></i> View Tables&nbsp;</a>
      </div>
    </div>
  </div>
</div>  
{% endblock content %}