{% extends "frontend/base.html" %}
{% load static %}
{% block title %} Kumpulan Pesan {% endblock title %}
{% block content %}
<br><br>
<div class="bg-light">
  <div class="pt-2 px-5 text-center container shadow-lg my-5 bg-white pb-5">
    <h2 class="font-weight-bolder mt-4"><i class="fa fa-envelope"></i>&nbsp;Kumpulan Pesan</h2>
    <hr class="mb-3">
    <div class="row">
      <div class="col-lg-12 text-left">
        <table class="table">
            <thead>
                <th>Nama</th>
                <th>Email</th>
                <th>Pesan</th>
                <th>Dibuat Pada</th>
            </thead>
            <tbody>
            {% for i in message %}
                {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
                <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                    <td> {{i.name}} </td>
                    <td> {{i.email}} </td>
                    <td> {{i.message}} </td>
                    <td> {{i.created_date.time}} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
         <a href="{% static '../' %}tutorial4/" class="btn btn-light action-button"><i class="fa fa-arrow-left"></i> Back &nbsp;</a>

    </div>
  </div>
</div>

{% endblock content %}