{% extends "frontend/base.html" %}
{% load static %}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
{% block content %}
<br><br>
<div id="exprencies" class="bg-light">
  <div class="pt-2 px-5 text-center container shadow-lg my-5 bg-white pb-5">
    <h2 class="font-weight-bolder mt-4"><i class="fa fa-envelope"></i>&nbsp;Send Message</h2>
    <hr class="mb-3">
    <div class="row">
      <div class="col-lg-12 text-left">
        <form id="form" method="POST" action="{% url 'message_post' %}">
            {% csrf_token %}
            {{ message_form }}
            <button type="submit" class="btn btn-light action-button"><i class="fa fa-floppy-o"></i> Submit </button>
            <a href="{% static '../' %}tutorial4/table" class="btn btn-light action-button"><i class="fa fa-eye"></i> View Tables&nbsp;</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}