{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="jumbotron"> 
    <div class="container zigzag">
        <h1 class="text-shadow text-white">Full Stack Developer</h1>
        <p class="text-shadow text-white">make simple and beautiful website with framework django</p>
        <a class="btn btn-light action-button" role="button" href="https://api.whatsapp.com/send?phone=62895331287796&text=Hai%20Bagus%2c%20Dapatkah%20anda%20membantu%20saya%20untuk%20membuat%20project%20dan%20berapa%20biayanya%3f%20terimakasih&source=&data=" target="_blank">
            <i class="fa fa-phone"></i> Contact Me
        </a>
    </div>
  <section id="about-me"></section>
</div>
<div class="pt-2 px-5 text-center container shadow-lg my-5">
    <h2 class="font-weight-bolder mt-4"><i class="fa fa-user"></i>&nbsp;About me</h2>
    <hr class="mb-3">
    <div class="row">
        <div class="col-lg-3">
            <img class="img-fluid shadow-sm img-thumbnail mt-2" src="{% static 'img/pp.jpg' %}">
        </div>
        <div class="col-lg-9">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr class="text-left">
                            <td class="text-left" style="width:110px;border-top:none;">Name</td>
                            <td class="text-left" style="border-top:none;">: &nbsp;{{ name }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">Date Birth</td>
                            <td class="text-left">: &nbsp;{{ birthdate }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">Age</td>
                            <td class="text-left">: &nbsp;{{ age }} Years</td>
                        </tr>
                        <tr>
                            <td class="text-left">Address</td>
                            <td class="text-left">: &nbsp;{{ place }}, Indonesia</td>
                        </tr>
                        <tr>
                            <td class="text-left">University</td>
                            <td class="text-left">: &nbsp;{{ university }} - Tangerang</td>
                        </tr>
                        <tr>
                            <td class="text-left">Job</td>
                            <td class="text-left">: &nbsp;{{ job }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">My Hope</td>
                            <td class="text-left">: &nbsp;{{ hope }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;</td>
                            <td class="text-left">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="skill" class="bg-light">
    <div class="pt-2 px-5 text-center container shadow-lg my-5">
        <h2 class="font-weight-bolder mt-4"><i class="fa fa-bar-chart"></i>&nbsp;Skill</h2>
        <hr class="mb-3">
        <div class="row">
            <div class="col-lg-12">
                <p class="lead text-left font-weight-bold">Python</p>
                <div class="progress">
                    <div class="progress-bar bg-danger" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">65%</div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12">
                <p class="lead text-left font-weight-bold">PHP</p>
                <div class="progress">
                    <div class="progress-bar bg-warning" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">85%</div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12">
                <p class="lead text-left font-weight-bold">HTML</p>
                <div class="progress">
                    <div class="progress-bar bg-success" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">87%</div>
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                <p class="lead text-left font-weight-bold">CSS</p>
                <div class="progress">
                    <div class="progress-bar bg-info" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%;">83%</div>
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                <p class="lead text-left font-weight-bold">Javascript</p>
                <div class="progress">
                    <div class="progress-bar bg-primary" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">65%</div>
                </div>
            </div>
            <div class="col-lg-12 mt-3 mb-5">
                <p class="lead text-left font-weight-bold"><strong>Kontlin Android</strong></p>
                <div class="progress">
                    <div class="progress-bar bg-secondary" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">67%</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="exprencies" class="bg-light">
    <div class="pt-2 px-5 text-center container shadow-lg my-5 bg-white pb-5">
        <h2 class="font-weight-bolder mt-4"><i class="fa fa-trophy"></i>&nbsp;Experiences</h2>
        <hr class="mb-3">
        <div class="row">
            <div class="col-lg-12">
                <ul id="education" class="clearfix text-left pb-4">
                    <li>
                        <div class="year pull-left"><small class="form-text text-muted">2011<br></small></div>
                        <div class="description pull-right">
                            <h4 class="font-weight-bold">CV. Ace Computindo Computer</h4>
                            <p><strong>Tecnician Computer </strong>&nbsp;| &nbsp;Tangerang, Indonesia<br>Maintenance computer, laptop, and networking.</p>
                        </div>
                    </li>
                    <li>
                        <div class="year pull-left"><small class="form-text text-muted">2012</small></div>
                        <div class="description pull-right">
                            <h4 class="font-weight-bold">PT. Halim Samudra Interutama</h4>
                            <p><strong>IT Support and HRD&nbsp;</strong>&nbsp;| &nbsp;Tangerang, Indonesia<br>- Make a report of attendance, employee administration. <br>- Perform ISO 9001: 2015 quality management procedures, and participate in internal
                                auditors. <br>- Documenting, installing, repairing computers, local networks. <br>- Develop, improve the STOCK application (with FOXPRO DOS language). <br>- Creating an ISO Management System web application, Company
                                Profile, Color, Budget, etc. (in PHP).<br></p>
                        </div>
                    </li>
                    <li>
                        <div class="year pull-left"><small class="form-text text-muted">2019</small></div>
                        <div class="description pull-right">
                            <img src="{% static 'img/sosaro.png' %}" class="pr-2 py-2" width="100px">
                            <h4 class="font-weight-bold">Sosaro Coorporate</h4>
                            <p><strong>Medior Software Engineer&nbsp;</strong>&nbsp;| &nbsp;Jakarta Barat, Indonesia
                            <br>- Creating a python web backend with Framework Flask and Django. 
                            <br>- Make microservice with Flask. <br>- And frontend with html bootstrap.<br></p>
                                
                        
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="project" class="projects-clean mb-5 bg-light">
    <div class="container pt-4 pb-3 px-5 shadow-lg bg-white">
        <div class="intro my-0 py-0">
            <h2 class="text-center mb-3 mt-2 pt-0"><i class="fa fa-star"></i>&nbsp;Projects </h2>
        </div>
        <hr class="p-0 m-0">
        <div class="row projects mt-0">
            <div class="col-sm-6 col-lg-4 item">
                <a class="thumbnail img-project img-fluid img-responsive" href="#" data-image-id="" data-toggle="modal" data-title=""
                data-image="{% static 'img/stock.jpeg' %}"
                data-target="#image-gallery">
                    <img class="img-thumbnail"
                        src="{% static 'img/stock.jpeg' %}"
                        alt="Another alt text">
                </a>
                <h3 class="name">Stock &amp; COGS</h3>
                <p class="description">Maintenance and add new module in desktop application in PT. Halim Samudra Interutama with Foxpro DOS languange</p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <a class="thumbnail img-project img-fluid img-responsive" href="#" data-image-id="" data-toggle="modal" data-title=""
                data-image="{% static 'img/football.png' %}"
                data-target="#image-gallery">
                    <img class="img-thumbnail"
                        src="{% static 'img/football.png' %}"
                        alt="Another alt text">
                </a>
                <h3 class="name">Football Application</h3>
                <p class="description">Make information football schedule, score, club detail and player in android application with Kotlin Languange</p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <a class="thumbnail img-project img-fluid img-responsive" href="#" data-image-id="" data-toggle="modal" data-title=""
                data-image="{% static 'img/uii.jpeg' %}"
                data-target="#image-gallery">
                    <img class="img-thumbnail"
                        src="{% static 'img/uii.jpeg' %}"
                        alt="Another alt text">
                </a>
                <h3 class="name">SIMPPAI UII</h3>
                <p class="description">Make based crud template web wiith PHP Languange and android webview with Kotlin Language in Universitas Islam Indonesia</p>
            </div>
        </div>
        <div class="row projects">
            <div class="col-sm-6 col-lg-4 item">
                <a class="thumbnail img-project img-fluid img-responsive" href="#" data-image-id="" data-toggle="modal" data-title=""
                data-image="{% static 'img/iso.jpg' %}"
                data-target="#image-gallery">
                    <img class="img-thumbnail"
                        src="{% static 'img/iso.jpg' %}"
                        alt="Another alt text">
                </a>
                <h3 class="name">ISO Audit System</h3>
                <p class="description">Make information, schedule, score, and module management ISO system web based apllication with PHP Languange&nbsp;</p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <a class="thumbnail img-project img-fluid img-responsive" href="#" data-image-id="" data-toggle="modal" data-title=""
                data-image="{% static 'img/satupay.jpeg' %}"
                data-target="#image-gallery">
                    <img class="img-thumbnail"
                        src="{% static 'img/satupay.jpeg' %}"
                        alt="Another alt text">
                </a>
                <h3 class="name">SatuPay</h3>
                <p class="description">Make webview application with Java Languange&nbsp;</p>
            </div>
            <div class="col-sm-6 col-lg-4 item">
                <a class="thumbnail img-project img-fluid img-responsive" href="#" data-image-id="" data-toggle="modal" data-title=""
                data-image="{% static 'img/profile-company.png' %}"
                data-target="#image-gallery">
                    <img class="img-thumbnail"
                        src="{% static 'img/profile-company.png' %}"
                        alt="Another alt text">
                </a>
                <h3 class="name">Profile Company</h3>
                <p class="description">Make company profile with PHP Languange</p>
            </div>
        </div>
        <div class="text-center" style="margin-bottom:20px">
            <a class="btn btn-light action-button mx-auto" role="button" href="#">
            View Detail Projects &nbsp;<i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    </div>
{% endblock %}