{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="card card-mz-3 text-center animated fadeInUp">
  <div class="container-card">
    <h2>Tentang Saya</h2> 
    <div class="divider"></div>
    <div class="text-center">
      <br>
      {% for row in pf %}
      <img class="img-responsive" src="/media/{{ row.photo }}" alt="photo_profile">
      <h3>{{ row.name }}</h3>
      <h5><a href="mailto:{{ row.email }}" target="_blank">{{ row.email }}</a></h5>
      <br>
      <h5><strong>Deskripsi</strong></h5>
      <div class="divider"></div>
      <p class="about-desc text-justify">
          {{ row.description }}
      </p>
      {% endfor %}
    </div> 
  </div>
</div>
{% for row1 in ls %}
<div class="card card-mz-9 animated fadeInUp">
  <div class="container-card">
    <h2 class="left-15">{{ row1.title }}</h2>
    <div class="divider"></div>
    <p class="about-desc text-justify">
    {{ row1.description }}
    </p>
    <div class="divider"></div>
    <div class="button text-right">
      <button class="readmore share-container" style="float: left;" onclick="btnShare()">
        <i class="fa fa-share-alt"></i> &nbsp;Share
      </button>
      <a href="{{ row1.url }}" {% if row1.id == 1 %} target="_blank" {% endif %}><button class="readmore">Readmore »</button></a>
    </div>
  </div>
</div>
{% endfor %}
{% comment %} <div class="card card-mz-9">
  <div class="container-card">
    <h2 class="left-15">Materi Beling </h2>
    <div class="divider"></div>
    <table class="my-table">
      <thead>
        <tr>
          <th width="5%">No.</th>
          <th>Judul</th>
          <th class="text-center">Materi</th>
        </tr>
      </thead>
      <tbody id="myShowMateri">
      </tbody>
    </table>
  </div>
</div> {% endcomment %}
<div class="card-footer card-mz-9">
  <p class="text-center">
    Copyright @ 2019 - Bagus Pambudi | Thank you for Beling
  </p>  
</div>
{% endblock %}