{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<br><br>
<div class="pt-2 px-5 text-center container shadow-lg my-5">
    <h2 class="font-weight-bolder mt-4"><i class="fa fa-user"></i>&nbsp;About me</h2>
    <hr class="mb-3">
    <div class="row">
        <div class="col-lg-3">
            <img class="img-fluid shadow-sm img-thumbnail mt-2" src="{% static 'img/pp.jpg' %}">
        </div>
        <div class="col-lg-9">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr class="text-left">
                            <td class="text-left" style="width:110px;border-top:none;">Name</td>
                            <td class="text-left" style="border-top:none;">: &nbsp;{{ name }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">Date Birth</td>
                            <td class="text-left">: &nbsp;{{ birthdate }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">Age</td>
                            <td class="text-left">: &nbsp;{{ age }} Years</td>
                        </tr>
                        <tr>
                            <td class="text-left">Address</td>
                            <td class="text-left">: &nbsp;{{ place }}, Indonesia</td>
                        </tr>
                        <tr>
                            <td class="text-left">University</td>
                            <td class="text-left">: &nbsp;{{ university }} - Tangerang</td>
                        </tr>
                        <tr>
                            <td class="text-left">Job</td>
                            <td class="text-left">: &nbsp;{{ job }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">My Hope</td>
                            <td class="text-left">: &nbsp;{{ hope }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;</td>
                            <td class="text-left">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}