{% load i18n static %}
<!DOCTYPE html> {% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %} <html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}App Personalia{% endblock %}</title>
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{% static 'css/material-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <style>
       html { 
            background: url("{% static 'img/city01.png' %}") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        </style>
        <!-- Google Font -->
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> -->
    </head>
    <body>
            {% block content %} {% block object-tools %}{% endblock %} {{ content }} {% endblock %}
        <!-- jQuery 3 -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{% static 'js/materialize.min.js' %}"></script>
        <script>
        $('#alert_close').click(function(){
    $( "#alert_box" ).fadeOut( "slow", function() {
    });
  });
        </script>
    </body>
</html>