{% extends "admin/base_login.html" %}
{% load i18n static %}
{% block content %}

    <div class="valign-wrapper row login-box">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
            
        <form  action="{{ app_path }}" method="post" >
            {% csrf_token %}
            <div class="card-content">
                <span class="card-title">Enter credentials</span>
                {% if form.errors and not form.non_field_errors %}
                <p class="alert alert-danger">
                    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                        {% trans "Please correct the errors below." %}{% endif %}
                </p>
            {% endif %}
        
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" class="validate" name="username" id="email" />
                        <label for="email">Email address or Username</label>
                        {{ form.username.errors }}
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" class="validate" name="password" id="password" />
                        <label for="password">Password </label>                        
                        {{ form.password.errors }}
                    </div>
                </div>
            </div>
            <div class="card-action right-align">
            <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
            <button type="submit" class="btn green waves-effect waves-light">{% trans 'Log In' %}</button>
            </div>
        </form>
        </div>
    </div>
{% endblock %}
