{% extends "frontend/base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block custom_css %}<link rel="stylesheet" href="{% static 'css/chat.css' %}" />{% endblock %}
{% block content %}
<br><br>
<div class="bg-light">
  <div class="pt-2 px-5 text-center container shadow-lg my-5 bg-white pb-5">
    <h2 class="font-weight-bolder mt-4"><i class="fa fa-envelope"></i>&nbsp;{{ title }}</h2>
    <hr class="mb-3">
    <div class="row">
      <div class="col-lg-12 text-left">
       
    </div>
  </div>
</div>
 <section name="Chatbox">
            <div class="wrapper">
                <div class="chat-box">
                    <div class="chat-head">
                        <h2>Chat</h2>
                        <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
                    </div>
                    <div class="chat-body">
                        <div class="msg-insert">
                        </div>
                        <div class="chat-text">
                        <textarea placeholder="Press Enter"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            </section>
{% endblock content %}