{% load pwa %}
{% load static %}
<!doctype html>
<html lang="en">
  	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="robots" content="nofollow">
		<meta name="googlebot" content="noindex">
	    <title>{% block title %}{% endblock %} - Bagus Pambudi</title>
	    <meta name="theme-color" content="#34515e">
	    <meta name="Description" content="Tugas Beling by Bagus Pambudi">
	    <meta name="Keyword" content="Tugas|Beling|Bagus Pambudi|Maspamz">
	    <link rel="manifest" href="{% static 'manifest.json' %}">
	    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
	    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    	<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}" />
    	<link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/nav.css' %}" />
		<link rel="stylesheet" href="{% static 'css/projects.css' %}" />
		<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        {% block custom_css %}{% endblock %}
	</head>
<body  class="bg-light">
{% include 'frontend/header.html' %}
{% block content %}{% endblock %}
{% include 'frontend/footer.html' %}
<script src="{% static 'js/jquery.min.js' %}"></script>>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/image.js' %}"></script>
<script src="{% static 'js/sw.js' %}"></script>
<script src="{% static 'js/share.js' %}"></script>
{% block custom_js %}{% endblock %}
</body>
</html>