    <div class="footer-basic bg-dark text-white" id="contact">
        <footer>
            <div class="social text-center">
                <a href="https://github.com/maspamz" target="_blank"><i class="fa fa-gitlab"></i></a>
                <a href="https://gitlab.com/maspamzdev/heroku-beling" target="_blank"><i class="icon ion-social-github"></i></a>
                <a href="mailto:maspamzdev@gmail.com" target="_blank"><i class="icon ion-email"></i></a>
                <a href="https://api.whatsapp.com/send?phone=62895331287796&text=Hai%20Bagus%2c%20Dapatkah%20anda%20membantu%20saya%20untuk%20membuat%20project%20dan%20berapa%20biayanya%3f%20terimakasih&source=&data=" target="_blank">
                    <i class="icon ion-social-whatsapp"></i>
                </a>
            </div>
            <p class="copyright" style="margin-top:0px;">Bagus Pambudi © 2019</p>
        </footer>
    </div>
     <div class="modal fade" id="image-gallery" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="image-gallery-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                    </button>

                    <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>