{% load static %}
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button fixed-top shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="{% static '../' %}">Beling Bagus</a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% static '../' %}">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% static '../' %}#about-me">About me</a></li>
                        <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Tugas</a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="https://s.id/5YEhc" target="_blank">Tutorial 1 - HTML & CSS</a>
                                <a class="dropdown-item" role="presentation" href="/tutorial2">Tutorial 2 - Django template</a>
                                <a class="dropdown-item" role="presentation" href="/tutorial3">Tutorial 3 - Experiences</a>
                                <a class="dropdown-item" role="presentation" href="/tutorial4">Tutorial 4 - Send Message</a>
                                <a class="dropdown-item" role="presentation" href="/tutorial5">Tutorial 5 - JSON</a>
                                <a class="dropdown-item" role="presentation" href="/tutorial6">Tutorial 6 - Login</a>
                            </div>
                        </li>
                    </ul>
                    <span class="navbar-text actions"> 
                        <a class="login" href="https://gitlab.com/maspamzdev/heroku-beling"><i class="fa fa-gitlab"></i> View Gitlab</a>
                        <a class="btn btn-light action-button" role="button" href="./admin">
                            <i class="fa fa-unlock-alt"></i>&nbsp; Login
                        </a>
                    </span>
                </div>
            </div>
        </nav>
    </div>