.sidenav {
    display: none;
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    overflow-x: hidden;
    margin: 0px;
    padding-top: 30px;
    border-right: 2px solid rgba(0,0,0,.16);
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #000;
    display: block;
}

.sidenav a:hover {
    background-color: #607d8b;
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 36px;
    padding: 10px;
}



@media only screen and (max-width: 768px) {
  .sidenav {padding-top: 30px;}
}

