.topnav {
	overflow: hidden;
  position: fixed;
  width: 100%;
  padding: 10px;
  top:0;
  color: white;
  margin-top:-5px;
  background-color: #607d8b;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
  font-size:25px;
  cursor:pointer;
  z-index: 1;
}

