<!DOCTYPE html>
{% load i18n static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Bagus Pambudi</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>

<body>
    <div class="login-dark">
        <form method="post" action="{{ app_path }}">
            {% csrf_token %}}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            {% if form.errors and not form.non_field_errors %}
                <p class="alert alert-danger">
                    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                        {% trans "Please correct the errors below." %}{% endif %}
                </p>
            {% endif %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <input class="form-control" type="email" name="username" placeholder="Email">
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
                {{ form.password.errors }}
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
            </div>
            <!--<a class="forgot" href="#">Forgot your password?<br>or&nbsp;<br>Not have account?</a>-->
        </form>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>